html
    head
        include includes/head
    body
        h1 Wall of Fame (beta testing)
        p.
            The wall of fame bot is a bot that allows users to vote for posts that are funny/ important and should be immortalized onto
            a wall_of_fame channel This app has not been development for long at all, please report and bugs or send any suggestions to me!
            
        p There are currently #{servers} servers using the Wall of Fame
        a(href="https://discordapp.com/oauth2/authorize?client_id=406202934070870016&permissions=469072&scope=bot") Click here to invite Wall of Fame
        
        h3 Instructions
        ol
            li Invite the bot to your channel with the link above
            li If a message sent by a user gets 3 (default) star reacts (⭐️) then it will be put onto the wall_of_fame
            li Turn the global wall of fame and see posts from other servers
